<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input v-model="firstName"><br/>
        名：<input v-model="lastName"><br/>
        姓名：<span>{{ fullName }}  </span>
    </div>
    <Script>
        /*
            计算属性：
                1.定义：要用的属性不存在，要通过已有的属性计算得来
                2.原理：底层借助了Object.defineProperty()方法提供的getter和setter
                3.get函数什么时候被调用？
                    （1）初次读取数据时被调用
                     (2)当以来的属性发生改变时被再次调用
                4.优势：与methods相比，内部有缓存机制，效率更高，调试方便
                5.备注：
                    1.计算属性最终会出现在vm上，直接读取使用即可
                    2.如果计算属性要被修改，那必须写set函数去响应修改。且set中要引起计算时以来的数据发生
        */

        var vm = new Vue({
            el:'#root',
            data:{
                firstName:'张',
                lastName:'三',
            },
            computed:{
                //完整写法
                // fullName:{
                //     //有人读取fullName时，get被调用
                //     /*
                //         get什么时候被调用？1.初次读取fullName时 2.所依赖的数据发生变化时
                //     */
                //     get(){
                //         console.log("get被调用了");
                //         return this.firstName+'-'+this.lastName;
                //     },
                //     //set什么时候调用？当fullName被修改时
                //     set(value){
                //         console.log('set',value);
                //         const arr = value.split('-');
                //         this.firstName=arr[0];
                //         this.lastName=arr[1];
                //     }


                //简写(只能用于读取get，不能用于写入set)
                    fullName:function(){
                        console.log('get被调用了');
                        return this.firstName+'-'+this.lastName;
                    }
                }
            }
        )
    </Script>
</body>
</html>